<div class="a-section a-section--section-10">
  
  <div class="flex a-section__row a-section__row--1">
    <div class="a-section__col a-section__col--1">
      
      <h3 class="subheading a-section__subtitle">{{ section.settings.subheading }}</h3>
      <h2 class="heading heading--s4 a-section__title">{{ section.settings.heading }}</h2>
      {% if section.settings.paragraph != blank %}
        <div class="para a-section__primary-para">
          {{ section.settings.paragraph }}
        </div>
      {% endif %}
    </div>
    <div class="a-section__col a-section__col--2">
      <img src="{{ section.settings.main-image | img_url: '1200x675', scale: 2, crop: 'center', format: 'pjpg' }}" class="a-section__hero-image" alt="{{ section.settings.main-image.alt }}">
    </div>
  </div>

  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <div class="flex a-section__row a-section__row--2 blend">
        <!-- Column 1 -->
        <div class="flex a-section__col a-section__col--1 blend__images-container">
          <img src="{{ block.settings.main-image-1 | img_url: '1200x1200', crop: 'center', format: 'pjpg' }}" class="blend__image" alt="{{ block.settings.main-image-1.alt }}">
          <img src="{{ block.settings.main-image-2 | img_url: '1200x1200', crop: 'center', format: 'pjpg' }}" class="blend__image" alt="{{ block.settings.main-image-2.alt }}">
        </div>
        <!-- Column 2 -->
        <div class="a-section__col a-section__col--2">
          <h3 class="subheading blend__subtitle">{{ block.settings.subheading }}</h3>
          <h2 class="heading heading--s4 blend__title">{{ block.settings.heading }}</h2>
          <div class="para blend__description">
            {{ block.settings.paragraph }}
          </div>
          <div class="blend__btn--container">
            <a href="{{ block.settings.collection-link }}" class="btn--primary btn--small">{{ block.settings.btn-text }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

</div>

{% schema %}
{
  "name": "additional-section-10",
  "tag": "section",
  "settings": [
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading Text"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading Text"
    },
    {
      "id": "paragraph",
      "type": "richtext",
      "label": "Paragraph Text"
    },
    {
      "id": "main-image",
      "type": "image_picker",
      "label": "Main Image",
      "info": "Aspect ratio of 16:9 recommended. Minimum width 2400px."
    }
  ],
  "blocks": [
  {
    "type": "block",
    "name": "Block",
    "settings": [
      {
        "id": "subheading",
        "type": "text",
        "label": "Subheading Text"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Blend Name"
      },
      {
        "id": "paragraph",
        "type": "richtext",
        "label": "Blend Description"
      },
      {
        "id": "collection-link",
        "type": "url",
        "label": "Collection Link"
      },
      {
        "id": "btn-text",
        "type": "text",
        "label": "Button Text"
      },
      {
        "id": "main-image-1",
        "type": "image_picker",
        "label": "Main Image",
        "info": "Aspect ratio of 1:1 recommended. Minimum width 1200px."
      },
      {
        "id": "main-image-2",
        "type": "image_picker",
        "label": "Main Image",
        "info": "Aspect ratio of 1:1 recommended. Minimum width 1200px."
      }
    ]
  }
  ],
  "presets": [
    {
      "category": "Additional Sections - Gold Goat",
      "name": "Additional Section - 10"
    }
  ]
}
{% endschema %}
