{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
<div class="password-content">
  <img src="{{ settings.logo | img_url: '250', scale: 2 }}" class="main-logo" alt="{{ section.settings.main-image.alt }}">
  <h1 class="heading">{{ section.settings.heading }}</h1>
  <h2 class="subheading">{{ section.settings.subheading }}</h2>
</div>

{% if section.settings.newsletter_enable %}
  <div class="password-content password-content--rte">
    <p class="para">
      {{ section.settings.newsletter_form_heading | escape }}
    </p>
  </div>
  {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
    {%- assign formId = 'PasswordNewsletterForm' -%}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="{{ formId }}-email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>

    {%- if form.posted_successfully? -%}
      <p class="form-message form-message--success" tabindex="-1" data-form-status>
        {{ 'general.password_page.signup_form_success' | t }}
      </p>
    {%- endif -%}

    <div class="input-group{% if form.errors %} input-group--error{% endif %}">
        <input
          type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="input-group__field {% if form.errors contains 'email' %} input--error{% endif %}"
          placeholder="{{ section.settings.newsletter_placeholder | escape }}"
          {%- if form.errors contains 'email' -%}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
          {%- endif -%}
        >
      <span class="input-group__btn">
        <button type="submit" name="commit" class="btn btn newsletter__submit btn--primary">
          <span>{{ section.settings.newsletter_button_text | escape }}<i class="far fa-envelope"></i></span>
        </button>
      </span>
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="{{ formId }}-email-error" class="input-error-message">
        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
        {% include 'icon-error' %}
        <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
      </span>
    {%- endif -%}

  {% endform %}
{% endif %}



{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading Text"
    },
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading Text"
    },
    {
      "id": "newsletter_enable",
      "type": "checkbox",
      "label": "Enable Newsletter?"
    },
    {
      "id": "newsletter_form_heading",
      "type": "text",
      "label": "Newsletter Message"
    },
    {
      "id": "newsletter_button_text",
      "type": "text",
      "label": "Newsletter Button Text"
    },
    {
      "id": "newsletter_placeholder",
      "type": "text",
      "label": "Newsletter Placeholder Text"
    }
  ]
}
{% endschema %}
